@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  src:
    url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --basic-black: #000;
  --basic-extra-dark: #242424;
  --basic-dark: #595959;
  --basic-neutral: #bdbdbd;
  --basic-light: #e7e7e7;
  --basic-extra-light: #f6f6f6;
  --basic-white: #fff;
  --special-extra-dark: #4e2e0e;
  --special-dark: #814b18;
  --special-neutral: #af7842;
  --special-light: #dbb590;
  --special-extra-light: #fbf7f4;
  --status-error: #ea5454;
  --status-warning: #fd912e;
  --status-success: #00e484;
  --pattern-light: #fbf7f4;
  --pattern-dark: #242424;
  --font-family: "PT Sans";
  --second-family: "PT Sans Narrow";
  --font-fallback:"Arial", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--font-family), "Arial", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: var(--basic-extra-dark);
  background-color: var(--special-extra-light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
}

.button-light {
  color: #242424;
  background-color: #ffffff;
}

.page-header {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.navigation {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-link {
  display: block;
  padding: 24px 19px;
  font-family: var(--second-family), "Arial", sans-serif;
  line-height: 140%;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-logo {
  width: 140px;
  margin-right: 100px;
}

.main-container {
  flex-grow: 1;
  padding-top: 64px;
  padding-bottom: 60px;
}

.main-index {
  color: var(--basic-white);
  background-color: var(--basic-black);
  background-image: url("/images/index-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-inner {
  padding-top: 40px;
  color: var(--basic-extra-dark);
  background-color: var(--pattern-light);
  background-image: url("../images/bg-noisy.png");
}

.page-container {
  width: 940px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto 64px;
}

.advantages {
  margin-bottom: 58px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  color: var(--basic-white);
}

.advantages-item {
  width: 277px;
}

.advantages-title {
  margin: 0 0 56px;
  font-family: var(--second-family), "Arial", sans-serif;
  font-size: 32px;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 40px;
  color: var(--basic-extra-dark);
  background-color: var(--special-extra-light);
  background-image: url("/images/bg-noisy.png");
}

.index-columns:last-child {
  margin-bottom: 0;
}

.services {
  width: 390px;
  text-transform: uppercase;
}

.services-title {
  margin: 0 0 28px;
  font-size: 32px;
  line-height: 110%;
  font-weight: 700;
}

.services-list {
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
}

.services-price {
  color: var(--special-neutral);
}

.gallery {
  width: 390px;
}

.gallery-title {
  margin: 0 0 28px;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts {
  font-weight: 700;
}

.contacts-title {
  margin: 0 0 28px;
  font-size: 32px;
  line-height: 110%;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts-address {
  font-style: normal;
}

.contacts-subtitle {
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #af7842;
}

.contacts-phone {
  font-size: 24px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #242424;
}

.appointment {
  width: 430px;
}

.appointment-title {
  margin: 0 0 28px;
  font-size: 32px;
  line-height: 110%;
  font-weight: 700;
  text-transform: uppercase;
}

.appointment-form {
  color: #595959;
}

.form-label {
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-footer {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #242424;
  background-image: url("/images/bg-noisy.png");
  background-repeat: repeat;
}

.page-footer-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 40px 0;
}

.page-footer a {
  color: #ffffff;
}

.page-footer .htmlacademy-link {
  font-size: 14px;
  color: #dbb590;
}

.page-footer-title {
  margin-top: 0;
  margin-bottom: 14px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-contacts {
  width: 200px;
  margin-right: 130px;
}

.footer-contacts-address {
  font-style: normal;
}

.footer-contacts-address p {
  font-size: 14px;
  line-height: 140%;
  font-weight: 700;
  color: #ffffff;
}

.footer-contacts-address-phone {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}

.footer-contacts-map-link {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
}

.footer-social {
  margin-left: auto;
  max-width: 190px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 56px;
  height: 44px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #242424;
  list-style-type: none;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-products {
  display: flex;
}

.catalog-filter {
  width: 220px;
  margin-right: 20px;
}

.catalog-right-column {
  width: 700px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #242424;
  text-transform: uppercase;
}

.control-label {
  font-weight: 700;
}

.sorting-container {
  display: flex;
  margin-bottom: 16px;
  padding: 16px;
  color: #000000;
  background-color: #ffffff;
}

.sorting-container .button {
  width: 56px;
  height: 44px;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-card {
  background-color: #ffffff;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  color: #242424;
}

.product-card-price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #814b18;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 44px;
  padding: 14px 20px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

.pagination-clear {
  background-color: transparent;
}

.pagination-show-more {
  margin-left: auto;
}

.pagination-current {
  color: #242424;
  background-color: #ffffff;
}

.pagination-disabled {
  background-color: #595959;
}
